<VirtualHost *:{{ mirror_server_port }}>
  DocumentRoot {{ mirror_server_docroot }}
  Alias / {{ mirror_server_docroot }}/
  <Directory "{{ mirror_server_docroot }}">
    Require all granted
    Options +Indexes +FollowSymlinks
  </Directory>

</VirtualHost>
